<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--All products menu-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!--/All products menu-->

        <!--Cakes menu-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-link">
                <a href="" class="dropdown-item">Birthday Cakes</a>
                <a href="" class="dropdown-item">Party Cakes</a>
                <a href="" class="dropdown-item">Anniversary Cake</a>
                <a href="" class="dropdown-item">All Cakes</a>
            </div>
        </li>
        <!--/Cakes menu-->

        <!--Bread menu-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bread
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bread-link">
                <a href="" class="dropdown-item">White Bread</a>
                <a href="" class="dropdown-item">Brown Bread</a>
                <a href="" class="dropdown-item">All Breads</a>
            </div>
        </li>
        <!--/Bread menu-->

        <!--Cookies and brownies menu-->        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookies &amp; Brownies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cookiesnbrownies-link">
                <a href="" class="dropdown-item">Cookies</a>
                <a href="" class="dropdown-item">Brownies</a>
                <a href="" class="dropdown-item">All Cookies &amp; Brownies</a>
            </div>
        </li>
        <!--/Cookies and brownies menu-->   

        <!--Pastries menu-->        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pastries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pastries-link">
                <a href="" class="dropdown-item"></a>
                <a href="" class="dropdown-item">Cinnamon rolls</a>
                <a href="" class="dropdown-item">Croissant</a>
                <a href="" class="dropdown-item">Danish pastry</a>
                <a href="" class="dropdown-item">All Pastries</a>
            </div>
        </li>
        <!--/Pastries menu-->   

        <!--Special offers menu-->   
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <!--/Special offers menu-->   
    </ul>
</div>